<div class="container">
    <img src="{{ asset('@Sylius2PackagedNakedTheme/images/logo.svg') }}" alt="Logo" class="logo">
    <h1 class="title">{{ sylius.theme.vars.greatting }}</h1>
    <h2 class="subtitle">{{ 'theme.ui.your_sylius_journey_starts_here'|trans }}</h2>
    <a href="{{ path('sylius_admin_dashboard') }}" class="cta-button">{{ 'theme.ui.go_to_admin'|trans  }}</a>
</div>
